<div id="swimmer">
    <form id="addSwimmer" action="#">
        <div>
            <label for="Photo">{{Photo}}: </label><input id="Photo" type="file" />
            <label for="Name">{{Name}}: </label><input id="Name" type="text"/>
            <label for="RFID Tag">{{RFID_Tag}}: </label><input id="RFID Tag" type="text" />
            <button id="add">Add</button>
        </div>
    </form>
</div>