<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="DT04 Web Application" content="">
    <meta name="DT04" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>S.W.I.M.</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/dashboard.css" rel="stylesheet">

</head>
<body>
<script data-main="scripts/view_swimmers.js" src="scripts/vendor/requirejs/require.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DT04 Web Application</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id = "Dashboard"><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
                <li class = "active"><a href="/roster">View Swimmers</a></li>
                <li><a href="/chart">Analytics</a></li>
                <li><a href="/export">Export Data</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/add">Add Swimmer</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="swimmer">

            <h1 class="page-header">Application Dashboard</h1>
            <div class="row placeholders">
            </div>
        </div>
        <div class="row">
            <script id="swimmerTemplate" type="text/template">
                <div class="col-md-2">
                        <div class="thumbnail">
                        <img src="<%= photo %>" class="img-responsive" a href="/"/>
                        <div class="caption">
                            <p><%= name %></p>
                            <p>RFID Tag: <%= rfid_tag %></p>
                            <button>edit</button>
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </div>
</div>
</body>
